{
    "openapi": "3.0.1",
    "info": {
        "title": "Power BI Client",
        "version": "v1.0"
    },
    "servers": [
        {
            "url": "https://api.powerbi.com/v1.0/myorg"
        }
    ],
    "paths": {
        "/datasets": {
            "get": {
                "tags": [
                    "Datasets"
                ],
                "summary": "Returns a list of datasets from **My workspace**.",
                "description": "\n## Required Scope\n\nDataset.ReadWrite.All or Dataset.Read.All\n<br><br>",
                "operationId": "getDatasets",
                "responses": {
                    "200": {
                        "description": "The result of the request that returns a list of datasets from My workspace",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Datasets"
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "x-ms-examples": {
                    "Example": {
                        "parameters": {},
                        "responses": {
                            "200": {
                                "body": {
                                    "value": [
                                        {
                                            "id": "cfafbeb1-8037-4d0c-896e-a46fb27ff229",
                                            "name": "SalesMarketing",
                                            "addRowsAPIEnabled": false,
                                            "configuredBy": "john@contoso.com",
                                            "isRefreshable": true,
                                            "isEffectiveIdentityRequired": false,
                                            "isEffectiveIdentityRolesRequired": false,
                                            "isOnPremGatewayRequired": false
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "PushDatasets"
                ],
                "summary": "Creates a new dataset on **My workspace**.",
                "description": "\n## Required Scope\n\nDataset.ReadWrite.All\n\n## Limitations\n\nThis API call only supports **push datasets**. For a complete list of limitations, see [Push datasets limitations](/power-bi/developer/embedded/push-datasets-limitations).\n<br><br>",
                "operationId": "createDataset",
                "parameters": [
                    {
                        "name": "defaultRetentionPolicy",
                        "in": "query",
                        "description": "The default retention policy",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "None",
                                "basicFIFO"
                            ],
                            "x-ms-enum": {
                                "name": "DefaultRetentionPolicy",
                                "modelAsExtensible": true,
                                "values": [
                                    {
                                        "value": "None",
                                        "description": "None"
                                    },
                                    {
                                        "value": "basicFIFO",
                                        "description": "basicFIFO"
                                    }
                                ]
                            }
                        },
                        "x-ms-enum": {
                            "name": "DefaultRetentionPolicy",
                            "modelAsExtensible": true,
                            "values": [
                                {
                                    "value": "None",
                                    "description": "None"
                                },
                                {
                                    "value": "basicFIFO",
                                    "description": "basicFIFO"
                                }
                            ]
                        }
                    }
                ],
                "requestBody": {
                    "description": "Dataset definition to create",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateDatasetRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "The result of the request that creates a new dataset on My workspace",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Dataset"
                                }
                            }
                        }
                    },
                    "202": {
                        "description": "The result of the request that creates a new dataset on My workspace",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Dataset"
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "x-ms-examples": {
                    "Push example": {
                        "parameters": {
                            "defaultRetentionPolicy": "basicFIFO",
                            "dataset": {
                                "name": "SalesMarketing",
                                "defaultMode": "Push",
                                "tables": [
                                    {
                                        "name": "Product",
                                        "columns": [
                                            {
                                                "name": "ProductID",
                                                "dataType": "Int64"
                                            },
                                            {
                                                "name": "Name",
                                                "dataType": "string"
                                            },
                                            {
                                                "name": "Category",
                                                "dataType": "string"
                                            },
                                            {
                                                "name": "IsCompete",
                                                "dataType": "bool"
                                            },
                                            {
                                                "name": "ManufacturedOn",
                                                "dataType": "DateTime"
                                            },
                                            {
                                                "name": "Sales",
                                                "dataType": "Int64",
                                                "formatString": "Currency"
                                            }
                                        ]
                                    }
                                ]
                            }
                        },
                        "responses": {
                            "201": {
                                "body": {
                                    "id": "cfafbeb1-8037-4d0c-896e-a46fb27ff229",
                                    "name": "SalesMarketing",
                                    "defaultRetentionPolicy": "basicFIFO"
                                }
                            }
                        }
                    }
                },
                "x-codegen-request-body-name": "dataset"
            }
        },
        "/datasets/{datasetId}": {
            "get": {
                "tags": [
                    "Datasets"
                ],
                "summary": "Returns the specified dataset from **My workspace**.",
                "description": "\n## Required Scope\n\nDataset.ReadWrite.All or Dataset.Read.All\n<br><br>",
                "operationId": "getDatasetById",
                "parameters": [
                    {
                        "name": "datasetId",
                        "in": "path",
                        "description": "The dataset ID",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The result of the request that returns the specified dataset from My workspace",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Dataset"
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "x-ms-examples": {
                    "Example": {
                        "parameters": {
                            "datasetId": "cfafbeb1-8037-4d0c-896e-a46fb27ff229"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "id": "cfafbeb1-8037-4d0c-896e-a46fb27ff229",
                                    "name": "SalesMarketing",
                                    "addRowsAPIEnabled": false,
                                    "configuredBy": "john@contoso.com",
                                    "isRefreshable": true,
                                    "isEffectiveIdentityRequired": true,
                                    "isEffectiveIdentityRolesRequired": true,
                                    "isOnPremGatewayRequired": false
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Datasets"
                ],
                "summary": "Deletes the specified dataset from **My workspace**.",
                "description": "\n## Required Scope\n\nDataset.ReadWrite.All\n<br><br>",
                "operationId": "deleteDataset",
                "parameters": [
                    {
                        "name": "datasetId",
                        "in": "path",
                        "description": "The dataset ID",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {}
                    }
                },
                "deprecated": false,
                "x-ms-examples": {
                    "Example": {
                        "parameters": {
                            "datasetId": "cfafbeb1-8037-4d0c-896e-a46fb27ff229"
                        },
                        "responses": {
                            "200": {}
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "Datasets"
                ],
                "summary": "Updates the properties for the specified dataset from **My workspace**.",
                "description": "\n## Permissions\n\nThe user must be the dataset owner.\n\n## Required Scope\n\nDataset.ReadWrite.All\n<br><br>",
                "operationId": "updateDataset",
                "parameters": [
                    {
                        "name": "datasetId",
                        "in": "path",
                        "description": "The dataset ID",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Update dataset request parameters",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateDatasetRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {}
                    }
                },
                "deprecated": false,
                "x-ms-examples": {
                    "Example of changing the dataset storage mode to support large datasets": {
                        "parameters": {
                            "datasetId": "cfafbeb1-8037-4d0c-896e-a46fb27ff229",
                            "updateDatasetRequest": {
                                "targetStorageMode": "PremiumFiles"
                            }
                        },
                        "responses": {
                            "200": {}
                        }
                    },
                    "Example of changing the dataset storage mode to support small datasets": {
                        "parameters": {
                            "datasetId": "cfafbeb1-8037-4d0c-896e-a46fb27ff229",
                            "updateDatasetRequest": {
                                "targetStorageMode": "Abf"
                            }
                        },
                        "responses": {
                            "200": {}
                        }
                    },
                    "Example of updating scale-out settings of a dataset": {
                        "parameters": {
                            "datasetId": "cfafbeb1-8037-4d0c-896e-a46fb27ff229",
                            "updateDatasetRequest": {
                                "queryScaleOutSettings": {
                                    "autoSyncReadOnlyReplicas": false,
                                    "maxReadOnlyReplicas": -1
                                }
                            }
                        },
                        "responses": {
                            "200": {}
                        }
                    }
                },
                "x-codegen-request-body-name": "updateDatasetRequest"
            }
        },
        "/datasets/{datasetId}/executeQueries": {
            "post": {
                "tags": [
                    "Datasets"
                ],
                "summary": "Executes Data Analysis Expressions (DAX) queries against the provided dataset. The dataset must reside in **My workspace** or another workspace.",
                "description": "\nDAX query errors will result in:\n\n- A response error, such as `DAX query failure`.\n- A failure HTTP status code (400).\n\nA query that requests more than one table, or more than the allowed number of table rows, will result in:\n\n- Limited data being returned.\n- A response error, such as `More than one result table in a query` or `More than {allowed number} rows in a query result`.\n- A successful HTTP status code (200).\n\nColumns that are fully qualified in the query will be returned with a fully qualified name, for example, `MyTable[MyColumn]`. Columns that are renamed or created in the query will be returned within square bracket, for example, `[MyNewColumn]`.\n\n## Permissions\n\nThe tenant setting **Dataset Execute Queries REST API**, found under **Integration settings**, must be enabled.\n\nThe user must have dataset read and build permissions. For more information, see [Manage dataset access permissions](/power-bi/connect-data/service-datasets-manage-access-permissions).\n\n## Required Scope\n\nDataset.ReadWrite.All or Dataset.Read.All\n\n## Limitations\n\n- Datasets that are hosted in Azure Analysis Services or that have a live connection to an on-premises Azure Analysis Services model aren't supported.\n- One query per API call.\n- One table request per query.\n- Maximum of 100,000 rows or 1,000,000 values per query (whichever is hit first). For example if you query for 5 columns, you can get back max 100,000 rows. If you query for 20 columns, you can get back max 50,000 rows (1 million divided by 20).\n- Maximum of 15MB of data per query. Once 15MB is exceeded, the current row will be completed but no additional rows will be written.\n- There's a limit of 120 query requests per minute per user, regardless of the dataset that's queried.\n- To use Service Principals, make sure the admin tenant setting [_Allow service principals to use Power BI APIs_](/power-bi/admin/service-admin-portal-developer#allow-service-principals-to-use-power-bi-apis) under _Developer settings_ is enabled. However, regardless of the admin tenant setting, Service Principals aren't supported for datasets with RLS per [RLS limitations](/power-bi/admin/service-admin-rls#considerations-and-limitations) or datasets with SSO enabled.\n- Only DAX queries are supported at this time. MDX, INFO functions and DMV queries are not supported. \n<br><br>",
                "operationId": "executeQueries",
                "parameters": [
                    {
                        "name": "datasetId",
                        "in": "path",
                        "description": "The dataset ID",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "The request message",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/DatasetExecuteQueriesRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "The result of the request that executes Data Analysis Expressions (DAX) queries against the provided dataset. The dataset must reside in My workspace or another workspace",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DatasetExecuteQueriesResponse"
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "x-ms-examples": {
                    "Execute queries example": {
                        "parameters": {
                            "datasetId": "cfafbeb1-8037-4d0c-896e-a46fb27ff229",
                            "requestMessage": {
                                "queries": [
                                    {
                                        "query": "EVALUATE VALUES(MyTable)"
                                    }
                                ],
                                "serializerSettings": {
                                    "includeNulls": true
                                },
                                "impersonatedUserName": "someuser@mycompany.com"
                            }
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "results": [
                                        {
                                            "tables": [
                                                {
                                                    "rows": [
                                                        {
                                                            "MyTable[Year]": 2010,
                                                            "MyTable[Quarter]": "Q1"
                                                        },
                                                        {
                                                            "MyTable[Year]": 2010,
                                                            "MyTable[Quarter]": "Q2"
                                                        },
                                                        {
                                                            "MyTable[Year]": 2011,
                                                            "MyTable[Quarter]": "Q1"
                                                        }
                                                    ]
                                                }
                                            ]
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "x-codegen-request-body-name": "requestMessage"
            }
        },
        "/datasets/{datasetId}/tables": {
            "get": {
                "tags": [
                    "PushDatasets"
                ],
                "summary": "Returns a list of tables within the specified dataset from **My workspace**.",
                "description": "\n## Required Scope\n\nDataset.ReadWrite.All or Dataset.Read.All\n\n## Limitations\n\nThis API call only supports **push datasets**. For a complete list of limitations, see [Push datasets limitations](/power-bi/developer/embedded/push-datasets-limitations).\n<br><br>",
                "operationId": "getTables",
                "parameters": [
                    {
                        "name": "datasetId",
                        "in": "path",
                        "description": "The dataset ID",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The result of the request that returns a list of tables within the specified dataset from My workspace",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Tables"
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/datasets/{datasetId}/tables/{tableName}": {
            "put": {
                "tags": [
                    "PushDatasets"
                ],
                "summary": "Updates the metadata and schema for the specified table within the specified dataset from **My workspace**.",
                "description": "\n## Required Scope\n\nDataset.ReadWrite.All\n\n## Limitations\n\nThis API call only supports **push datasets**.\n<br><br>",
                "operationId": "updateTable",
                "parameters": [
                    {
                        "name": "datasetId",
                        "in": "path",
                        "description": "The dataset ID",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "tableName",
                        "in": "path",
                        "description": "The table name",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Table name and columns to update existing table",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Table"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "The result of the request that updates the metadata and schema for the specified table within the specified dataset from My workspace",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Table"
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "x-ms-examples": {
                    "Example": {
                        "parameters": {
                            "datasetId": "cfafbeb1-8037-4d0c-896e-a46fb27ff229",
                            "tableName": "Product",
                            "requestMessage": {
                                "name": "Product",
                                "columns": [
                                    {
                                        "name": "ProductID",
                                        "dataType": "Int64"
                                    },
                                    {
                                        "name": "Name",
                                        "dataType": "string"
                                    },
                                    {
                                        "name": "Category",
                                        "dataType": "string"
                                    },
                                    {
                                        "name": "IsCompete",
                                        "dataType": "bool"
                                    },
                                    {
                                        "name": "ManufacturedOn",
                                        "dataType": "DateTime"
                                    },
                                    {
                                        "name": "NewColumn",
                                        "dataType": "string"
                                    }
                                ]
                            }
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "name": "Product"
                                }
                            }
                        }
                    }
                },
                "x-codegen-request-body-name": "requestMessage"
            }
        },
        "/datasets/{datasetId}/tables/{tableName}/rows": {
            "post": {
                "tags": [
                    "PushDatasets"
                ],
                "summary": "Adds new data rows to the specified table within the specified dataset from **My workspace**.",
                "description": "\n## Required Scope\n\nDataset.ReadWrite.All\n\n## Limitations\n\n- This API call only supports **push datasets**.\n- See [Power BI REST API limitations](/power-bi/developer/automation/api-rest-api-limitations).\n<br><br>",
                "operationId": "addRows",
                "parameters": [
                    {
                        "name": "datasetId",
                        "in": "path",
                        "description": "The dataset ID",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "tableName",
                        "in": "path",
                        "description": "The table name",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "The request message",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PostRowsRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {}
                    }
                },
                "deprecated": false,
                "x-ms-examples": {
                    "Example": {
                        "parameters": {
                            "datasetId": "cfafbeb1-8037-4d0c-896e-a46fb27ff229",
                            "tableName": "Product",
                            "requestMessage": {
                                "rows": [
                                    {
                                        "ProductID": 1,
                                        "Name": "Adjustable Race",
                                        "Category": "Components",
                                        "IsCompete": true,
                                        "ManufacturedOn": "07/30/2014"
                                    },
                                    {
                                        "ProductID": 2,
                                        "Name": "LL Crankarm",
                                        "Category": "Components",
                                        "IsCompete": true,
                                        "ManufacturedOn": "07/30/2014"
                                    },
                                    {
                                        "ProductID": 3,
                                        "Name": "HL Mountain Frame - Silver",
                                        "Category": "Bikes",
                                        "IsCompete": true,
                                        "ManufacturedOn": "07/30/2014"
                                    }
                                ]
                            }
                        },
                        "responses": {
                            "200": {}
                        }
                    }
                },
                "x-codegen-request-body-name": "requestMessage"
            },
            "delete": {
                "tags": [
                    "PushDatasets"
                ],
                "summary": "Deletes all rows from the specified table within the specified dataset from **My workspace**.",
                "description": "\n## Required Scope\n\nDataset.ReadWrite.All\n\n## Limitations\n\nThis API call only supports **push datasets**. For a complete list of limitations, see [Push datasets limitations](/power-bi/developer/embedded/push-datasets-limitations).\n<br><br>",
                "operationId": "deleteRows",
                "parameters": [
                    {
                        "name": "datasetId",
                        "in": "path",
                        "description": "The dataset ID",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "tableName",
                        "in": "path",
                        "description": "The table name",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {}
                    }
                },
                "deprecated": false,
                "x-ms-examples": {
                    "Example": {
                        "parameters": {
                            "datasetId": "cfafbeb1-8037-4d0c-896e-a46fb27ff229",
                            "tableName": "Product"
                        },
                        "responses": {
                            "200": {}
                        }
                    }
                }
            }
        },
        "/datasets/{datasetId}/refreshes": {
            "get": {
                "tags": [
                    "Datasets"
                ],
                "summary": "Returns the refresh history for the specified dataset from **My workspace**.",
                "description": "\n## Required Scope\n\nDataset.ReadWrite.All or Dataset.Read.All\n\n## Limitations\n\nOneDrive refresh history isn't returned.\n\nThere are always between 20\u201360 available refresh history entries for each dataset, depending on the number of refreshes in the last 3 days.  \nThe most recent 60 are kept if they are all less than 3 days old. \nEntries more than 3 days old are deleted when there are more than 20 entries.\n<br><br>",
                "operationId": "getRefreshHistory",
                "parameters": [
                    {
                        "name": "datasetId",
                        "in": "path",
                        "description": "The dataset ID",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "description": "The requested number of entries in the refresh history. If not provided, the default is the last available 60 entries",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "minimum": 1,
                            "type": "integer"
                        },
                        "x-ballerina-name": "top"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The result of the request that returns the refresh history for the specified dataset from My workspace",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Refreshes"
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "x-ms-examples": {
                    "In-progress refresh example": {
                        "parameters": {
                            "datasetId": "cfafbeb1-8037-4d0c-896e-a46fb27ff229",
                            "$top": 1
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "value": [
                                        {
                                            "refreshType": "ViaApi",
                                            "startTime": "2017-06-13T09:25:43.153Z",
                                            "status": "Unknown",
                                            "requestId": "9399bb89-25d1-44f8-8576-136d7e9014b1"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "Completed refresh example": {
                        "parameters": {
                            "datasetId": "cfafbeb1-8037-4d0c-896e-a46fb27ff229",
                            "$top": 1
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "value": [
                                        {
                                            "refreshType": "ViaApi",
                                            "startTime": "2017-06-13T09:25:43.153Z",
                                            "endTime": "2017-06-13T09:31:43.153Z",
                                            "status": "Completed",
                                            "requestId": "9399bb89-25d1-44f8-8576-136d7e9014b1",
                                            "refreshAttempts": [
                                                {
                                                    "attemptId": 1,
                                                    "startTime": "2017-06-13T09:25:43.153Z",
                                                    "endTime": "2017-06-13T09:31:40.153Z",
                                                    "type": "Data"
                                                },
                                                {
                                                    "attemptId": 1,
                                                    "startTime": "2017-06-13T09:31:40.156Z",
                                                    "endTime": "2017-06-13T09:31:43.153Z",
                                                    "type": "Query"
                                                }
                                            ]
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "Failed refresh example": {
                        "parameters": {
                            "datasetId": "cfafbeb1-8037-4d0c-896e-a46fb27ff229",
                            "$top": 1
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "value": [
                                        {
                                            "refreshType": "ViaApi",
                                            "startTime": "2017-06-13T09:25:43.153Z",
                                            "endTime": "2017-06-13T09:31:43.153Z",
                                            "serviceExceptionJson": "{\"errorCode\":\"ModelRefreshFailed_CredentialsNotSpecified\"}",
                                            "status": "Failed",
                                            "requestId": "11bf290a-346b-48b7-8973-c5df149337ff",
                                            "refreshAttempts": [
                                                {
                                                    "attemptId": 1,
                                                    "startTime": "2017-06-13T09:25:43.153Z",
                                                    "endTime": "2017-06-13T09:31:43.153Z",
                                                    "serviceExceptionJson": "{\"errorCode\":\"ModelRefreshFailed_CredentialsNotSpecified\"}",
                                                    "type": "Data"
                                                }
                                            ]
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Datasets"
                ],
                "summary": "Triggers a refresh for the specified dataset from **My workspace**. An [enhanced refresh](/power-bi/connect-data/asynchronous-refresh) is triggered only if a request payload other than `notifyOption` is set.",
                "description": "\n## Required Scope\n\nDataset.ReadWrite.All\n\n## Limitations\n\n- For Shared capacities, a maximum of eight requests per day, including refreshes executed by using scheduled refresh, can be initiated.\n- For Shared capacities, only `notifyOption` can be specified in the request body.\n- Enhanced refresh is not supported for shared capacities.\n- For enhanced refresh, `notifyOption` is not required and must be excluded from the request body. However, one or more parameters other than `notifyOption` are required.\n- For Premium capacities, the maximum requests per day is only limited by the available resources in the capacity. If available resources are overloaded, refreshes are throttled until the load is reduced. The refresh will fail if throttling exceeds 1 hour.\n<br><br>",
                "operationId": "refreshDataset",
                "parameters": [
                    {
                        "name": "datasetId",
                        "in": "path",
                        "description": "The dataset ID",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/DatasetRefreshRequest"
                            }
                        }
                    },
                    "required": false,
                    "description": "Refresh options: notification option and, for an enhanced refresh, the objects and refresh type"
                },
                "responses": {
                    "202": {
                        "description": "Accepted",
                        "headers": {
                            "x-ms-request-id": {
                                "description": "The `refreshId` for [getting refresh execution details](#/operationId/Datasets_GetRefreshExecutionDetails) or [cancelling refresh](/rest/api/power-bi/datasets/cancel-refresh). This would be returned only if any request payload except `notifyOption` is set.",
                                "style": "simple",
                                "explode": false,
                                "schema": {
                                    "type": "string",
                                    "format": "uuid"
                                }
                            },
                            "Location": {
                                "description": "The full URI for [getting refresh execution details](#/operationId/Datasets_GetRefreshExecutionDetails) or [cancelling refresh](/rest/api/power-bi/datasets/cancel-refresh). This would be returned only if any request payload except `notifyOption` is set.",
                                "style": "simple",
                                "explode": false,
                                "schema": {
                                    "type": "string",
                                    "format": "url"
                                }
                            }
                        },
                        "content": {}
                    }
                },
                "deprecated": false,
                "x-ms-examples": {
                    "Example of refreshing a dataset": {
                        "parameters": {
                            "datasetId": "cfafbeb1-8037-4d0c-896e-a46fb27ff229",
                            "refreshRequest": {
                                "notifyOption": "MailOnFailure",
                                "retryCount": 3
                            }
                        },
                        "responses": {
                            "202": {
                                "headers": {
                                    "x-ms-request-id": "03f22bb5-2e98-4ae8-8113-329bec3987b1",
                                    "Location": "https://api.powerbi.com/v1.0/myorg/datasets/cfafbeb1-8037-4d0c-896e-a46fb27ff229/refreshes/03f22bb5-2e98-4ae8-8113-329bec3987b1"
                                }
                            }
                        }
                    },
                    "Example of refreshing one partition": {
                        "parameters": {
                            "datasetId": "cfafbeb1-8037-4d0c-896e-a46fb27ff229",
                            "datasetRefreshRequest": {
                                "type": "full",
                                "commitMode": "transactional",
                                "objects": [
                                    {
                                        "table": "Customer",
                                        "partition": "Robert"
                                    }
                                ],
                                "applyRefreshPolicy": "false",
                                "timeout": "05:00:00"
                            }
                        },
                        "responses": {
                            "200": {
                                "description": "OK"
                            }
                        }
                    }
                },
                "x-codegen-request-body-name": "datasetRefreshRequest"
            }
        },
        "/datasets/{datasetId}/refreshes/{refreshId}": {
            "get": {
                "tags": [
                    "Datasets"
                ],
                "summary": "Returns execution details of a refresh operation for the specified dataset from **My workspace**.",
                "description": "\n## Required Scope\n\nDataset.ReadWrite.All or Dataset.Read.All\n<br><br>",
                "operationId": "getRefreshExecutionDetails",
                "parameters": [
                    {
                        "name": "datasetId",
                        "in": "path",
                        "description": "The dataset ID",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "refreshId",
                        "in": "path",
                        "description": "The refresh ID",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK (this response is returned when the refresh operation has completed or failed)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DatasetRefreshDetail"
                                }
                            }
                        }
                    },
                    "202": {
                        "description": "Accepted (this response is returned when the refresh operation is still in progress)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DatasetRefreshDetail"
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "x-ms-examples": {
                    "On-Demand refresh - Completed": {
                        "parameters": {
                            "datasetId": "f7fc6510-e151-42a3-850b-d0805a391db0",
                            "refreshId": "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "startTime": "2025-10-31T10:09:38.53",
                                    "endTime": "2025-10-31T10:10:08.23",
                                    "status": "Completed",
                                    "numberOfAttempts": 2,
                                    "refreshAttempts": [
                                        {
                                            "attemptId": 1,
                                            "startTime": "2025-10-31T10:09:40.2432886Z",
                                            "endTime": "2025-10-31T10:10:02.93333Z",
                                            "type": "Data",
                                            "executionMetrics": [
                                                {
                                                    "timeStart": "2025-10-31T10:09:41.318Z",
                                                    "timeEnd": "2025-10-31T10:10:02.875Z",
                                                    "durationMs": 21558,
                                                    "externalQueryExecutionTimeMs": 24208,
                                                    "vertipaqJobCpuTimeMs": 3984,
                                                    "mEngineCpuTimeMs": 6625,
                                                    "queryProcessingCpuTimeMs": 1563,
                                                    "totalCpuTimeMs": 24672,
                                                    "executionDelayMs": 504,
                                                    "approximatePeakMemConsumptionKB": 419886,
                                                    "tabularConnectionTimeoutMs": 17999000,
                                                    "commandType": "Batch",
                                                    "discoverType": 127,
                                                    "queryDialect": 4,
                                                    "refreshParallelism": 6,
                                                    "vertipaqTotalRows": 432682,
                                                    "intendedUsage": 2,
                                                    "mEnginePeakMemoryKB": 322412
                                                }
                                            ]
                                        },
                                        {
                                            "attemptId": 1,
                                            "startTime": "2025-10-31T10:10:03.1449471Z",
                                            "endTime": "2025-10-31T10:10:03.5996278Z",
                                            "type": "Query"
                                        }
                                    ],
                                    "initiatedBy": "OnDemand"
                                }
                            }
                        }
                    },
                    "Enhanced refresh - In progress": {
                        "parameters": {
                            "datasetId": "f7fc6510-e151-42a3-850b-d0805a391db0",
                            "refreshId": "630110f5-8f93-49c2-afee-bfc87072460c"
                        },
                        "responses": {
                            "202": {
                                "body": {
                                    "startTime": "2021-12-14T03:46:04.833",
                                    "type": "Full",
                                    "commitMode": "Transactional",
                                    "status": "Unknown",
                                    "extendedStatus": "NotStarted",
                                    "currentRefreshType": "Full",
                                    "numberOfAttempts": 0,
                                    "initiatedBy": "ViaEnhancedApi"
                                }
                            }
                        }
                    },
                    "Enhanced refresh - Completed": {
                        "parameters": {
                            "datasetId": "f7fc6510-e151-42a3-850b-d0805a391db0",
                            "refreshId": "87f31ef7-1e3a-4006-9b0b-191693e79e9e"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "startTime": "2021-12-10T08:40:31.57",
                                    "endTime": "2021-12-10T08:40:43.87",
                                    "type": "Full",
                                    "commitMode": "Transactional",
                                    "status": "Completed",
                                    "extendedStatus": "Completed",
                                    "currentRefreshType": "Full",
                                    "numberOfAttempts": 1,
                                    "objects": [
                                        {
                                            "table": "DateTableTemplate_78e78207-b3fb-41b5-8b95-e5efca989067",
                                            "partition": "DateTableTemplate_78e78207-b3fb-41b5-8b95-e5efca989067-ae306fb4-3b7e-4a41-824d-cb3b452fedfc",
                                            "status": "Completed"
                                        },
                                        {
                                            "table": "DimCurrency",
                                            "partition": "DimCurrency-e5524cc4-a898-433b-91aa-c001b9a6d676",
                                            "status": "Completed"
                                        },
                                        {
                                            "table": "DimCustomer",
                                            "partition": "DimCustomer-a31bbd93-e20a-4dee-a33c-7afa27785953",
                                            "status": "Completed"
                                        },
                                        {
                                            "table": "DimDate",
                                            "partition": "DimDate-62e2f91b-53e5-4ed3-8618-fec74dba5e0d",
                                            "status": "Completed"
                                        },
                                        {
                                            "table": "DimProduct",
                                            "partition": "DimProduct-3d07cc89-2bd7-4a98-bb37-3368c1562f98",
                                            "status": "Completed"
                                        },
                                        {
                                            "table": "DimPromotion",
                                            "partition": "DimPromotion-21e6c333-430e-4350-8c94-cdceb362c4c7",
                                            "status": "Completed"
                                        },
                                        {
                                            "table": "DimSalesTerritory",
                                            "partition": "DimSalesTerritory-6d88f938-13d5-49f8-899c-d11b3d346ad5",
                                            "status": "Completed"
                                        },
                                        {
                                            "table": "FactInternetSales",
                                            "status": "Completed"
                                        }
                                    ],
                                    "refreshAttempts": [
                                        {
                                            "attemptId": 1,
                                            "startTime": "2021-12-10T08:40:31.57",
                                            "endTime": "2021-12-10T08:40:43.87",
                                            "type": "Data",
                                            "executionMetrics": [
                                                {
                                                    "timeStart": "2021-12-10T08:40:32.5Z",
                                                    "timeEnd": "2021-12-10T08:40:43.8Z",
                                                    "durationMs": 11300,
                                                    "externalQueryExecutionTimeMs": 2100,
                                                    "vertipaqJobCpuTimeMs": 1850,
                                                    "mEngineCpuTimeMs": 950,
                                                    "totalCpuTimeMs": 8200,
                                                    "executionDelayMs": 25,
                                                    "approximatePeakMemConsumptionKB": 185432,
                                                    "tabularConnectionTimeoutMs": 7200000,
                                                    "commandType": "Batch",
                                                    "refreshParallelism": 2,
                                                    "vertipaqTotalRows": 315420,
                                                    "intendedUsage": 2,
                                                    "mEnginePeakMemoryKB": 142380
                                                }
                                            ]
                                        }
                                    ],
                                    "initiatedBy": "ViaEnhancedApi"
                                }
                            }
                        }
                    },
                    "Enhanced refresh - Failed": {
                        "parameters": {
                            "datasetId": "f7fc6510-e151-42a3-850b-d0805a391db0",
                            "refreshId": "351f7113-59bb-4e5e-8c1e-e15ae7414121"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "startTime": "2021-12-10T08:39:28.517",
                                    "endTime": "2021-12-10T08:39:30.04",
                                    "type": "Full",
                                    "commitMode": "PartialBatch",
                                    "status": "Failed",
                                    "extendedStatus": "Failed",
                                    "currentRefreshType": "Full",
                                    "numberOfAttempts": 1,
                                    "messages": [
                                        {
                                            "message": "RefreshApiRequest for table refresh using refresh policy must have the property 'CommitMode' = 'Transactional' instead of 'PartialBatch'.",
                                            "type": "Error"
                                        }
                                    ],
                                    "refreshAttempts": [
                                        {
                                            "attemptId": 1,
                                            "startTime": "2021-12-10T08:39:28.517",
                                            "endTime": "2021-12-10T08:39:30.04",
                                            "serviceExceptionJson": "{\"errorCode\":\"ModelRefresh_ShortMessage_ProcessingError\",\"errorDescription\":\"0xC112001C: Expression.Error: Forced Error. . The exception was raised by the IDbCommand interface.\\n0xC112001C: The command has been canceled.. The exception was raised by the IDbCommand interface.\\n0xC11C0006: The current operation was cancelled because another operation in the transaction failed.\\n0xC112001C: The command has been canceled.. The exception was raised by the IDbCommand interface.\\n0xC112001C: The command has been canceled.. The exception was raised by the IDbCommand interface.\\n0xC112001C: The command has been canceled.. The exception was raised by the IDbCommand interface.\"}",
                                            "type": "Data"
                                        }
                                    ],
                                    "serviceExceptionJson": "{\"errorCode\":\"ModelRefresh_ShortMessage_ProcessingError\"}",
                                    "initiatedBy": "ViaEnhancedApi"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Datasets"
                ],
                "summary": "Cancels the specified refresh operation for the specified dataset from **My workspace**.",
                "description": "\n## Required Scope\n\nDataset.ReadWrite.All\n<br><br>",
                "operationId": "cancelRefresh",
                "parameters": [
                    {
                        "name": "datasetId",
                        "in": "path",
                        "description": "The dataset ID",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "refreshId",
                        "in": "path",
                        "description": "The refresh ID",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {}
                    }
                },
                "deprecated": false,
                "x-ms-examples": {
                    "Example": {
                        "parameters": {
                            "datasetId": "f7fc6510-e151-42a3-850b-d0805a391db0",
                            "refreshId": "87f31ef7-1e3a-4006-9b0b-191693e79e9e"
                        },
                        "responses": {
                            "200": {}
                        }
                    }
                }
            }
        },
        "/datasets/{datasetId}/refreshSchedule": {
            "get": {
                "tags": [
                    "Datasets"
                ],
                "summary": "Returns the refresh schedule for the specified dataset from **My workspace**.",
                "description": "\n## Required Scope\n\nDataset.ReadWrite.All or Dataset.Read.All\n<br><br>",
                "operationId": "getRefreshSchedule",
                "parameters": [
                    {
                        "name": "datasetId",
                        "in": "path",
                        "description": "The dataset ID",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The result of the request that returns the refresh schedule for the specified dataset from My workspace",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RefreshSchedule"
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "x-ms-examples": {
                    "Refresh schedule example": {
                        "parameters": {
                            "datasetId": "cfafbeb1-8037-4d0c-896e-a46fb27ff229"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "days": [
                                        "Sunday",
                                        "Friday",
                                        "Saturday"
                                    ],
                                    "times": [
                                        "05:00",
                                        "11:30",
                                        "17:30",
                                        "23:00"
                                    ],
                                    "enabled": true,
                                    "localTimeZoneId": "UTC",
                                    "notifyOption": "MailOnFailure"
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "Datasets"
                ],
                "summary": "Updates the refresh schedule for the specified dataset from **My workspace**.",
                "description": "\nA request that disables the refresh schedule should contain no other changes.\n\nAt least one day must be specified. If no times are specified, then Power BI will use a default single time per day.\n\n## Permissions\n\nThe user must be the dataset owner.\n\n## Required Scope\n\nDataset.ReadWrite.All\n\n## Limitations\n\nThe limit on the number of time slots per day depends on whether a [Premium](/power-bi/admin/service-premium-what-is) or Shared capacity is used.\n<br><br>",
                "operationId": "updateRefreshSchedule",
                "parameters": [
                    {
                        "name": "datasetId",
                        "in": "path",
                        "description": "The dataset ID",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Update Refresh Schedule parameters, by specifying all or some of the parameters",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RefreshScheduleRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {}
                    }
                },
                "deprecated": false,
                "x-ms-examples": {
                    "Change the notification option of a refresh schedule example": {
                        "parameters": {
                            "datasetId": "cfafbeb1-8037-4d0c-896e-a46fb27ff229",
                            "datasetModelRefreshScheduleRequest": {
                                "value": {
                                    "notifyOption": "NoNotification"
                                }
                            }
                        },
                        "responses": {
                            "200": {}
                        }
                    },
                    "Change the days and times of a refresh schedule example": {
                        "parameters": {
                            "datasetId": "cfafbeb1-8037-4d0c-896e-a46fb27ff229",
                            "datasetModelRefreshScheduleRequest": {
                                "value": {
                                    "days": [
                                        "Sunday",
                                        "Tuesday",
                                        "Friday",
                                        "Saturday"
                                    ],
                                    "times": [
                                        "07:00",
                                        "11:30",
                                        "16:00",
                                        "23:30"
                                    ],
                                    "localTimeZoneId": "UTC"
                                }
                            }
                        },
                        "responses": {
                            "200": {}
                        }
                    },
                    "Update the times of a refresh schedule example": {
                        "parameters": {
                            "datasetId": "cfafbeb1-8037-4d0c-896e-a46fb27ff229",
                            "datasetModelRefreshScheduleRequest": {
                                "value": {
                                    "times": [
                                        "08:00",
                                        "16:00"
                                    ]
                                }
                            }
                        },
                        "responses": {
                            "200": {}
                        }
                    },
                    "Disable a scheduled refresh example": {
                        "parameters": {
                            "datasetId": "cfafbeb1-8037-4d0c-896e-a46fb27ff229",
                            "datasetModelRefreshScheduleRequest": {
                                "value": {
                                    "enabled": false
                                }
                            }
                        },
                        "responses": {
                            "200": {}
                        }
                    }
                },
                "x-codegen-request-body-name": "datasetModelRefreshScheduleRequest"
            }
        },
        "/datasets/{datasetId}/directQueryRefreshSchedule": {
            "get": {
                "tags": [
                    "Datasets"
                ],
                "summary": "Returns the refresh schedule for a specified [DirectQuery](/power-bi/connect-data/desktop-directquery-about) or [LiveConnection](/power-bi/connect-data/desktop-directquery-about#live-connections) dataset from **My workspace**.",
                "description": "\n## Required Scope\n\nDataset.ReadWrite.All or Dataset.Read.All\n<br><br>",
                "operationId": "getDirectQueryRefreshSchedule",
                "parameters": [
                    {
                        "name": "datasetId",
                        "in": "path",
                        "description": "The dataset ID",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The result of the request that returns the refresh schedule for a specified [DirectQuery](/power-bi/connect-data/desktop-directquery-about) or [LiveConnection](/power-bi/connect-data/desktop-directquery-about#live-connections) dataset from My workspace",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DirectQueryRefreshSchedule"
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "x-ms-examples": {
                    "Days and times schedule example": {
                        "parameters": {
                            "datasetId": "cfafbeb1-8037-4d0c-896e-a46fb27ff229"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "days": [
                                        "Sunday",
                                        "Friday",
                                        "Saturday"
                                    ],
                                    "times": [
                                        "05:00",
                                        "11:30",
                                        "17:30",
                                        "23:00"
                                    ],
                                    "localTimeZoneId": "UTC"
                                }
                            }
                        }
                    },
                    "Frequency schedule example": {
                        "parameters": {
                            "datasetId": "cfafbeb1-8037-4d0c-896e-a46fb27ff229"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "frequency": 15,
                                    "days": [],
                                    "times": [],
                                    "localTimeZoneId": "UTC"
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "Datasets"
                ],
                "summary": "Updates the refresh schedule for a specified [DirectQuery](/power-bi/connect-data/desktop-directquery-about) or [LiveConnection](/power-bi/connect-data/desktop-directquery-about#live-connections) dataset from **My workspace**.",
                "description": "\nA request should contain either a set of days and times *or* a valid frequency, but not both. If you choose a set of days without specifying any times, then Power BI will use a default single time per day. Setting the frequency will automatically overwrite the days and times setting.\n\n## Permissions\n\nThe user must be the dataset owner.\n\n## Required Scope\n\nDataset.ReadWrite.All\n<br><br>",
                "operationId": "updateDirectQueryRefreshSchedule",
                "parameters": [
                    {
                        "name": "datasetId",
                        "in": "path",
                        "description": "The dataset ID",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Patch DirectQuery or LiveConnection Refresh Schedule parameters, by specifying all or some of the parameters",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/DirectQueryRefreshScheduleRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {}
                    }
                },
                "deprecated": false,
                "x-ms-examples": {
                    "Set a frequency based schedule example": {
                        "parameters": {
                            "datasetId": "cfafbeb1-8037-4d0c-896e-a46fb27ff229",
                            "datasetDQRefreshScheduleRequest": {
                                "value": {
                                    "frequency": 30
                                }
                            }
                        },
                        "responses": {
                            "200": {}
                        }
                    },
                    "Set a days and times based schedule example": {
                        "parameters": {
                            "datasetId": "cfafbeb1-8037-4d0c-896e-a46fb27ff229",
                            "datasetDQRefreshScheduleRequest": {
                                "value": {
                                    "days": [
                                        "Sunday",
                                        "Tuesday",
                                        "Friday",
                                        "Saturday"
                                    ],
                                    "times": [
                                        "07:00",
                                        "11:30",
                                        "16:00",
                                        "23:30"
                                    ],
                                    "localTimeZoneId": "UTC"
                                }
                            }
                        },
                        "responses": {
                            "200": {}
                        }
                    },
                    "Update the times of a days and times based schedule example": {
                        "parameters": {
                            "datasetId": "cfafbeb1-8037-4d0c-896e-a46fb27ff229",
                            "datasetDQRefreshScheduleRequest": {
                                "value": {
                                    "times": [
                                        "07:00",
                                        "16:30",
                                        "23:30"
                                    ]
                                }
                            }
                        },
                        "responses": {
                            "200": {}
                        }
                    },
                    "Disable a scheduled refresh example": {
                        "parameters": {
                            "datasetId": "cfafbeb1-8037-4d0c-896e-a46fb27ff229",
                            "datasetDQRefreshScheduleRequest": {
                                "value": {
                                    "enabled": false
                                }
                            }
                        },
                        "responses": {
                            "200": {}
                        }
                    }
                },
                "x-codegen-request-body-name": "datasetDQRefreshScheduleRequest"
            }
        },
        "/datasets/{datasetId}/parameters": {
            "get": {
                "tags": [
                    "Datasets"
                ],
                "summary": "Returns a list of parameters for the specified dataset from **My workspace**.",
                "description": "\n## Required Scope\n\nDataset.Read.All or Dataset.ReadWrite.All\n\n## Limitations\n\n- Datasets with SQL, Oracle, Teradata, and SAP HANA [DirectQuery](/power-bi/connect-data/desktop-directquery-about) connections aren't supported.\n- Datasets created or modified using the public [XMLA endpoint](/power-bi/admin/service-premium-connect-tools) aren't supported.\n<br><br>",
                "operationId": "getParameters",
                "parameters": [
                    {
                        "name": "datasetId",
                        "in": "path",
                        "description": "The dataset ID",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The result of the request that returns a list of parameters for the specified dataset from My workspace",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MashupParameters"
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "x-ms-examples": {
                    "Example": {
                        "parameters": {
                            "datasetId": "cfafbeb1-8037-4d0c-896e-a46fb27ff229"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "value": [
                                        {
                                            "name": "ServerName",
                                            "type": "Text",
                                            "isRequired": true,
                                            "currentValue": "MyTest.database.windows.net"
                                        },
                                        {
                                            "name": "DatabaseName",
                                            "type": "Text",
                                            "isRequired": true,
                                            "currentValue": "MyTestDB"
                                        },
                                        {
                                            "name": "FromDate",
                                            "type": "DateTime",
                                            "isRequired": true,
                                            "currentValue": "2/8/2002 12:00:00 AM"
                                        },
                                        {
                                            "name": "FilterBlanks",
                                            "type": "Logical",
                                            "isRequired": true,
                                            "currentValue": "TRUE"
                                        },
                                        {
                                            "name": "MaxId",
                                            "type": "Number",
                                            "isRequired": true,
                                            "currentValue": "77"
                                        },
                                        {
                                            "name": "AnyParam",
                                            "type": "Any",
                                            "isRequired": true,
                                            "currentValue": "uu63"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/datasets/{datasetId}/Default.UpdateParameters": {
            "post": {
                "tags": [
                    "Datasets"
                ],
                "summary": "Updates the parameters values for the specified dataset from **My workspace**.",
                "description": "\n> [!NOTE]\n> We recommend using [enhanced dataset metadata](/power-bi/connect-data/desktop-enhanced-dataset-metadata) with this API call.\n\n> [!IMPORTANT]\n>\n> - If you're using **enhanced dataset metadata**, refresh the dataset to apply the new parameter values.\n> - If you're not using **enhanced dataset metadata**, wait 30 minutes for the update data sources operation to complete, and then refresh the dataset.\n\n## Permissions\n\nThe user must be the dataset owner.\n\n## Required Scope\n\nDataset.ReadWrite.All\n\n## Limitations\n\n- Datasets created or modified using the public [XMLA endpoint](/power-bi/admin/service-premium-connect-tools) aren't supported. To make changes to those datasets, the admin must use the Azure Analysis Services client library for Tabular Object Model.\n- [DirectQuery](/power-bi/connect-data/desktop-directquery-about) connections are only supported with [enhanced dataset metadata](/power-bi/connect-data/desktop-enhanced-dataset-metadata).\n- Datasets with Azure Analysis Services live connections aren't supported.\n- Maximum of 100 parameters per request.\n- All specified parameters must exist in the dataset.\n- Parameters values should be of the expected type.\n- The parameter list can't be empty or include duplicate parameters.\n- Parameters names are case-sensitive.\n- Parameter `IsRequired` must have a non-empty value.\n- The parameter types `Any` and `Binary` can't be updated.\n<br><br>",
                "operationId": "updateParameters",
                "parameters": [
                    {
                        "name": "datasetId",
                        "in": "path",
                        "description": "The dataset ID",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateMashupParametersRequest"
                            }
                        }
                    },
                    "required": true,
                    "description": "The list of dataset parameters and the new values to set"
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {}
                    }
                },
                "deprecated": false,
                "x-ms-examples": {
                    "Example": {
                        "parameters": {
                            "datasetId": "cfafbeb1-8037-4d0c-896e-a46fb27ff229",
                            "updateMashupParametersRequest": {
                                "updateDetails": [
                                    {
                                        "name": "DatabaseName",
                                        "newValue": "NewDB"
                                    },
                                    {
                                        "name": "MaxId",
                                        "newValue": "5678"
                                    }
                                ]
                            }
                        },
                        "responses": {
                            "200": {}
                        }
                    }
                },
                "x-codegen-request-body-name": "updateMashupParametersRequest"
            }
        },
        "/datasets/{datasetId}/datasources": {
            "get": {
                "tags": [
                    "Datasets"
                ],
                "summary": "Returns a list of data sources for the specified dataset from **My workspace**.",
                "description": "\n## Required Scope\n\nDataset.ReadWrite.All or Dataset.Read.All\n<br><br>",
                "operationId": "getDatasources",
                "parameters": [
                    {
                        "name": "datasetId",
                        "in": "path",
                        "description": "The dataset ID",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The result of the request that returns a list of data sources for the specified dataset from My workspace",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Datasources"
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "x-ms-examples": {
                    "Analysis Services example": {
                        "parameters": {},
                        "responses": {
                            "200": {
                                "body": {
                                    "@odata.context": "http://api.powerbi.com/v1.0/myorg/groups/222f0f33-3abc-4a57-9f98-ff01bd2aaabb/$metadata#datasources",
                                    "value": [
                                        {
                                            "datasourceType": "AnalysisServices",
                                            "connectionDetails": {
                                                "server": "My-As-Server",
                                                "database": "My-As-Database"
                                            },
                                            "datasourceId": "33cc5222-3fb9-44f7-b19d-ffbff18aaaf5",
                                            "gatewayId": "0a2dafe6-0e93-4120-8d2c-fae123c111b1"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "SQL example": {
                        "parameters": {},
                        "responses": {
                            "200": {
                                "body": {
                                    "@odata.context": "http://api.powerbi.com/v1.0/myorg/groups/222f0f33-3abc-4a57-9f98-ff01bd2aaabb/$metadata#datasources",
                                    "value": [
                                        {
                                            "datasourceType": "Sql",
                                            "connectionDetails": {
                                                "server": "My-As-Server",
                                                "database": "My-As-Database"
                                            },
                                            "datasourceId": "33cc5222-3fb9-44f7-b19d-ffbff18aaaf5",
                                            "gatewayId": "0a2dafe6-0e93-4120-8d2c-fae123c111b1"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "Excel example": {
                        "parameters": {},
                        "responses": {
                            "200": {
                                "body": {
                                    "@odata.context": "http://api.powerbi.com/v1.0/myorg/groups/222f0f33-3abc-4a57-9f98-ff01bd2aaabb/$metadata#datasources",
                                    "value": [
                                        {
                                            "datasourceType": "File",
                                            "connectionDetails": {
                                                "path": "c:\\users\\username\\documents\\orders1.xlsx"
                                            },
                                            "datasourceId": "33cc5222-3fb9-44f7-b19d-ffbff18aaaf5",
                                            "gatewayId": "0a2dafe6-0e93-4120-8d2c-fae123c111b1"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "OData example": {
                        "parameters": {},
                        "responses": {
                            "200": {
                                "body": {
                                    "@odata.context": "http://api.powerbi.com/v1.0/myorg/groups/222f0f33-3abc-4a57-9f98-ff01bd2aaabb/$metadata#datasources",
                                    "value": [
                                        {
                                            "datasourceType": "OData",
                                            "connectionDetails": {
                                                "url": "http://services.odata.org/MyOdata/MyOdata.svc"
                                            },
                                            "datasourceId": "33cc5222-3fb9-44f7-b19d-ffbff18aaaf5",
                                            "gatewayId": "0a2dafe6-0e93-4120-8d2c-fae123c111b1"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "SharePoint example": {
                        "parameters": {},
                        "responses": {
                            "200": {
                                "body": {
                                    "@odata.context": "http://api.powerbi.com/v1.0/myorg/groups/222f0f33-3abc-4a57-9f98-ff01bd2aaabb/$metadata#datasources",
                                    "value": [
                                        {
                                            "datasourceType": "SharePointList",
                                            "connectionDetails": {
                                                "url": "https://microsoft.sharepoint.com/hello/myproj/"
                                            },
                                            "datasourceId": "33cc5222-3fb9-44f7-b19d-ffbff18aaaf5",
                                            "gatewayId": "0a2dafe6-0e93-4120-8d2c-fae123c111b1"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "SAP HANA example": {
                        "parameters": {},
                        "responses": {
                            "200": {
                                "@odata.context": "http://api.powerbi.com/v1.0/myorg/groups/222f0f33-3abc-4a57-9f98-ff01bd2aaabb/$metadata#datasources",
                                "value": [
                                    {
                                        "datasourceType": "SAPHana",
                                        "connectionDetails": {
                                            "server": "My-SapHana-Server",
                                            "database": "My-SapHana-Database"
                                        },
                                        "datasourceId": "33cc5222-3fb9-44f7-b19d-ffbff18aaaf5",
                                        "gatewayId": "0a2dafe6-0e93-4120-8d2c-fae123c111b1"
                                    }
                                ]
                            }
                        }
                    },
                    "Oracle example": {
                        "parameters": {},
                        "responses": {
                            "200": {
                                "@odata.context": "http://api.powerbi.com/v1.0/myorg/groups/222f0f33-3abc-4a57-9f98-ff01bd2aaabb/$metadata#datasources",
                                "value": [
                                    {
                                        "datasourceType": "Oracle",
                                        "connectionDetails": {
                                            "server": "My-Oracle-Server",
                                            "database": "My-Oracle-Database"
                                        },
                                        "datasourceId": "33cc5222-3fb9-44f7-b19d-ffbff18aaaf5",
[...]
